body{
    background-color:#2C2537 ;
}

.big-container{
    display :flex;
    justify-content: center;
    
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #1A1327;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}



.authpageimage{

}

.title{
    margin : 0;
    color: #C3BFCC;
    
}

.fade {
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}