body{
    /* background: linear-gradient(to right, #667eea, #764ba2); */
    
}



.authcontainer{
    display: flex;
    flex-direction: column;
    
    margin: 5px;
    width: 400px;
    height: 500px;
    background-color: #1A1327;
    
}

.title{
    color: black;
    font-size: 50px;
    font-weight: 700;
    margin-top: 25px;
}
.inputs{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.input{
    display: flex;
    align-items: center;
    background-color: grey;
    width: 300px;
    height : 40px;
    border-radius:10px ;
}

.input input{
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 9px;
    font-size: large;
    background-color: grey;
    border:none;
    
}

.submit-button{
    margin-top: 80px;
    margin-bottom: 10px;
}

.submit-button button{
    width : 300px;
    background-color: #764ba2;
}

.logo{
    height : 20px;
    width : 20px
}

.forgot-pass{
    color: white;
}



.signup-prompt{
    color: white;
}

.signup-prompt button{
    
    color : white;
    border :none;
}